* {
    margin: 0;
    padding: 0;
    font-family: "Yu Gothic";
}

body {
    width: 100%;
    background-color: #fff;
}

h1 {
    font-size: 76px;
    padding-left: 8px;
    padding-top: 150px;
    margin-bottom: 16px;
    color: rgba(255, 128, 0, 0.87);
    font-weight: 400;
    text-align: center;
    font-family: "Rounded Mplus 1c";
}

h2 {
    font-size: 106px;
    color: #e63c35;
    text-align: center;
    font-family: "Nico Moji";
}

h3 {
    font-size: 25px;
    color: #303030;
    font-family: "Rounded Mplus 1c";
}

h4 {
    font-size: 35px;
    color: #000;
    font-family: "Rounded Mplus 1c";
    margin-bottom: 25px;
    margin-top: 15px;
}

.zooALL {
    
    border: 10px solid rgba(39, 39, 39, 0.73);
    background: url(img/024.jpg) 0 0;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.zooALL:before {
    content: '';
    background: inherit;
    /*.bgImageで設定した背景画像を継承する*/
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    /*重なり順序を一番下にしておく*/
}

.zoomain {
    overflow: hidden;
    width: 862px;
    
    border: dashed 1px #999;
    float: left;
    background-color: #fff;
    border: thick solid #9E9E9E;
    background-color: rgba(255, 186, 0, 0.21);
}

.zoo01 {
    background: #fff url(img/005.png) 0 0 no-repeat;
    width: 99.55%;
    height: 600px;
    background-size: cover;
    margin-bottom: 32px;
    border: medium solid #000000;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.zoo01:before {
    content: '';
    background: inherit;
    /*.bgImageで設定した背景画像を継承する*/
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    /*重なり順序を一番下にしておく*/
}






.zoo02 {}



.zoo03 {
    margin-top: 30px;
    position: relative;
}

.zoo03::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(206, 0, 255, 0.26) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.zoo03:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.zoo04 {
    margin-top: 50px;
    margin-bottom: 40px;
}



.zoo09 {
    width: 198px;
    height: 200px;
    margin-bottom: 7px;
    background: #fff url(img/014.jpg) 0 0 no-repeat;
    background-size: cover;
}

.zoo10 {
    width: 198px;
    height: 200px;
    margin-bottom: 7px;
    background: #fff url(img/013.jpg) 0 0 no-repeat;
    background-size: cover;
}

.zoo11 {
    width: 198px;
    height: 200px;]
    margin-top: 10px;
    margin-bottom: 7px;
    background: #fff url(img/023.jpg) 0 0 no-repeat;
    background-size: cover;
}

.zoo12 {
    float: left;
    width: 250px;
    height: 310px;
    background: #fff url(img/TOP.jpg) 0 0 no-repeat;
    background-size: cover;
}

.container {
    width: 560px;
    margin: 0 auto;
    display: grid;
    position: relative;
    grid-template-columns: 180px 180px 180px;
    grid-gap: 10px;
}

.item {
    color: white;
    padding: 70px 30px;
}

.a {
    background: #fff url(img/020.jpg) 0 0 no-repeat;
    background-size: cover;
}

.b {
    background: #fff url(img/021.jpg) 0 0 no-repeat;
    background-size: cover;
}

.c {
    background: #fff url(img/022.jpg) 0 0 no-repeat;
    background-size: cover;
}

.d {
    background: #fff url(img/019.jpg) 0 0 no-repeat;
    background-size: cover;
}

.e {
    background: #fff url(img/007.jpg) 0 0 no-repeat;
    background-size: cover;
}

.f {
    background: #fff url(img/100.jpg) 0 0 no-repeat;
    background-size: cover;
}
.g {
    background: #fff url(img/101.jpg) 0 0 no-repeat;
    background-size: cover;
}
.h {
    background: #fff url(img/104.jpg) 0 0 no-repeat;
    background-size: cover;
}
.i {
    background: #fff url(img/103.jpg) 0 0 no-repeat;
    background-size: cover;
}


.a {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* Reset jquery.bxslider.css */

.bx-viewport {
    left: 0;
    box-shadow: none;
    border: none;
        -moz-box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    -o-box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    -ms-box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

#slider li {

    height: 550px;
    background: center / cover no-repeat;
    
}

#left {
    background-color: rgba(255, 78, 0, 0.33);
    float: left;
    width: 198px;
    height: 1588px;
    border: dashed 1px #999;
    margin: 10px 10px 10px 10px;
    border: thick solid #9E9E9E;
}

#title01 {
    text-align: center;
    width: 198px;
    height: 35px;
}

#right {
    background-color: rgba(255, 78, 0, 0.33);
    float: left;
    width: 198px;
    height: 1588px;
    border: dashed 1px #999;
    margin: 10px 0px 10px 10px;
    border: thick solid #9E9E9E;
}

#title02 {
    text-align: center;
    width: 198px;
    height: 35px;
}
.grad-btn {
  /*.grad-btnのCSSは表示/非表示の動作には関係ないので、ご自由にどうぞ。*/
}
.grad-btn::before {
  content: "続きを読む";
      text-align: center;
}
.grad-item {
  position: relative;
  overflow: hidden;
  height: 80px; /*隠した状態の高さ*/
}
.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}
.grad-trigger {
  display: none; /*チェックボックスは常に非表示*/
}
.grad-trigger:checked ~ .grad-btn::before {
  content: "閉じる" /*チェックされていたら、文言を変更する*/
}
.grad-trigger:checked ~ .grad-item {
  height: auto; /*チェックされていたら、高さを戻す*/
}
.grad-trigger:checked ~ .grad-item::before {
  display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}




















.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}
.hover06 figure img {
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover06 figure:hover img {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}