* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #9E9D24;
}

h1 {
    font-size: 76px;
    padding-left: 8px;
    padding-top: 150px;
    margin-bottom: 16px;
    color: #303030;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 56px;
    color: #e63c35;
    text-align: center;
}
h3 {
    font-size: 25px;
    color: #76FF03;
}

.zooALL {
    height: 2500px;
    border: thick solid #EF6C00;
}

.zoomain {
    overflow: hidden;
    width: 887px;
    height: 1398px;
    border: dashed 1px #999;
    float: left;
    background-color: #fff;
    border: thick solid #303030;
    
}

.zoo01 {
    background: #fff url(img/005.png) 0 0 no-repeat;
    width: 100%;
    height: 600px;
    background-size: cover;
    margin-bottom: 32px;
    border-bottom: medium solid #000000;
}

.zoo02 {}

.zoo03 {
    margin-top: 20px;
}


/* Reset jquery.bxslider.css */

.bx-viewport {
    left: 0;
    box-shadow: none;
    border: none;
}

#slider li {
    height: 100vh;
    background: center / cover no-repeat;
}

#left {
    background-color: #2E7D32;
    float: left;
    width: 198px;
    height: 498px;
    border: dashed 1px #999;
    margin: 10px 10px 10px 10px;
}
#title01{
    text-align: center;
    width: 198px;
    height: 35px;
}

#right {
    background-color: #2E7D32;
    float: left;
    width: 198px;
    height: 498px;
    border: dashed 1px #999;
    margin: 10px 0px 10px 10px;
}
#title02{
    text-align: center;
    width: 198px;
    height: 35px;
}