* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #fff;
     
    
}



h1 {
    font-size: 76px;
    padding-left: 8px;
    padding-top: 150px;
    margin-bottom: 16px;
    color: #303030;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 56px;
    color: #e63c35;
    text-align: center;
}
h3 {
    font-size: 25px;
    color: #303030;
}
h4{
    font-size: 35px;
    color: #000;
    text-align: center;
}

.zooALL {
    height: 3500px;
    border: 10px solid rgba(39, 39, 39, 0.73);
    background: url(img/024.jpg) 0 0 ;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.zooALL:before{
  content: '';
  background: inherit;/*.bgImageで設定した背景画像を継承する*/
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;/*重なり順序を一番下にしておく*/
}

.zoomain {
    overflow: hidden;
    width: 862px;
    height: 1598px;
    border: dashed 1px #999;
    float: left;
    background-color: #fff;
    border: thick solid #9E9E9E;
    background-color: rgba(255, 255, 0, 0.56);
}

.zoo01 {
    background: #fff url(img/005.png) 0 0 no-repeat;
    width: 99.55%;
    height: 600px;
    background-size: cover;
    margin-bottom: 32px;
    border: medium solid #000000;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.zoo01:before{
  content: '';
  background: inherit;/*.bgImageで設定した背景画像を継承する*/
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;/*重なり順序を一番下にしておく*/
}






.zoo02 {}

.zoo03 {
    margin-top: 20px;
}


/* Reset jquery.bxslider.css */

.bx-viewport {
    left: 0;
    box-shadow: none;
    border: none;
}

#slider li {
    height: 100vh;
    background: center / cover no-repeat;
}

#left {
    background-color: rgba(255, 255, 0, 0.56);
    float: left;
    width: 198px;
    height: 498px;
    border: dashed 1px #999;
    margin: 10px 10px 10px 10px;
    border: thick solid #9E9E9E;
}
#title01{
    text-align: center;
    width: 198px;
    height: 35px;
}

#right {
    background-color: rgba(255, 255, 0, 0.56);
    float: left;
    width: 198px;
    height: 498px;
    border: dashed 1px #999;
    margin: 10px 0px 10px 10px;
    border: thick solid #9E9E9E;
}
#title02{
    text-align: center;
    width: 198px;
    height: 35px;
}